src/com/qualisystems/pythonDriverPlugin/deployment/deployment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="properties" type="propertiesType"/>
  <xs:complexType name="sourcesType">
    <xs:sequence>
      <xs:element type="xs:string" name="source" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="scriptsType">
    <xs:sequence>
      <xs:element type="scriptType" name="script" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="driversType">
    <xs:sequence>
      <xs:element type="driverType" name="driver" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="scriptType">
    <xs:sequence>
      <xs:element type="sourcesType" name="sources"/>
      <xs:element type="xs:string" name="targetName"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="propertiesType">
    <xs:sequence>
      <xs:element type="xs:string" name="serverRootAddress">
        <xs:annotation>
          <xs:documentation>The address of the Quali server on which to deploy, mandatory</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:string" name="port">
        <xs:annotation>
          <xs:documentation>The port of the Quali server on which to deploy, defaults to "8029"</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:string" name="username">
        <xs:annotation>
          <xs:documentation>The server admin username, password and domain to use when deploying, defaults to "admin","admin" and "Global"</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:string" name="password"/>
      <xs:element type="xs:string" name="domain"/>
      <xs:element type="xs:string" name="fileFilters">
        <xs:annotation>
          <xs:documentation>Simple patterns to filter when sending the driver to the server separated by semicolons (e.g. "file.xml;logs/"),
         on top of the patterns specified here the plugin will automatically filter the "deployment/" and ".idea/" folders and the "deployment.xml" file</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:string" name="waitForDebugger">
        <xs:annotation>
          <xs:documentation>When `runFromLocalProject` is enabled, decides whether to wait for a debugger to attach
         before running any Python driver code, defaults to "false"</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="driversType" name="drivers"/>
      <xs:element type="scriptsType" name="scripts"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="driverType">
    <xs:sequence>
      <xs:element type="sourcesType" name="sources"/>
      <xs:element type="xs:string" name="targetName"/>
    </xs:sequence>
    <xs:attribute type="xs:boolean" name="runFromLocalProject" use="optional" default="false" />
    <xs:attribute type="xs:boolean" name="waitForDebugger" use="optional" default="false" />
    <xs:attribute type="xs:string" name="sourceRootFolder" use="optional"/>
  </xs:complexType>
</xs:schema>